.app {
  position: relative;
  margin: 24px;
  &-node-main {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &-node-dropdown {
    position: relative;
    cursor: default;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #000;
      transition: transform 0.3s ease;
    }
    &-open {
      background-color: #eeeff8;
      &::before {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  &-node-button {
    background-color: inherit;
    cursor: pointer;
  }
  &-node-icon {
    width: 20px;
    height: 20px;
  }
}
