* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  color: #000;
  font-weight: 400;
  line-height: normal;
}
li,
ul {
  margin-top: 16px;
  list-style-type: none;
}

.app {
  position: relative;
  margin: 24px;
}
.app-node-main {
  border: 1px solid red;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.app-node-dropdown {
  position: relative;
  cursor: default;
}
.app-node-dropdown::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #000;
  transition: transform 0.3s ease;
}
.app-node-dropdown.app-node-dropdown-open::before {
  transform: translateY(-50%) rotate(90deg);
}
.app-node-button {
  background-color: #fff;
  cursor: pointer;
}
.app-node-icon {
  width: 20px;
  height: 20px;
}
