.form {
  &-create-node {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 4px;
  }
  &-first-block {
    padding: 16px;
  }
  &-second-block {
    position: relative;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    padding: 20px;
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--grey);
      outline: none;
      &:valid ~ span,
      &:focus ~ span {
        color: var(--grey);
        transform: translateX(10px) translateY(-6px);
        font-size: 0.9em;
        padding: 0 10px;
        background-color: var(--white);
      }
      &:focus ~ span {
        color: var(--light-blue);
      }
      &:focus {
        border-color: var(--general-blue);
      }
    }
    span {
      position: absolute;
      left: 20px;
      top: 18px;
      padding: 10px;
      pointer-events: none;
      font-size: 1em;
      color: var(--grey);
      transition: 0.3s;
    }
  }
  &-buttons {
    display: flex;
    justify-content: end;
    padding: 20px 8px 8px 0;
    gap: 16px;
  }
}

.input-field {
  width: 100%;
  border-radius: 4px;
  outline: 0;
  border: 1px solid var(--black);
}

input:hover {
  border-color: var(--black);
}

.button {
  width: 100px;
  height: 30px;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    transition: background-color ease 0.5s;
  }
  &-cancel {
    background-color: var(--white);
    color: var(--light-blue);
    &:hover {
      background-color: rgba(63, 81, 181, 0.04);
    }
    &-full {
      width: 100%;
      margin: 0 8px;
      background-color: var(--white);
      color: var(--light-blue);
      &:hover {
        background-color: rgba(63, 81, 181, 0.04);
      }
    }
  }
  &-action {
    background-color: var(--light-blue);
    color: var(--white);
    box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &:hover {
      background-color: var(--dark-blue);
    }
  }
  &-delete {
    background-color: var(--white);
    color: var(--general-red);
    border-color: var(--general-red);
    &:hover {
      background-color: var(--dark-red);
    }
  }
}
